@model List<IndexVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">

        @*widget datas*@
        <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
                <div class="overflow-hidden d-slider1 ">
                    <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                        @foreach (var item in Model)
                        {
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
                                <div class="card-body">
                                    
                                       
                                        <div class="progress-detail">
                                        <p class="mb-2">@item.CompanyVM.CompanyName</p>
                                            <h4 class="counter">@item.SaleVM.TotalPrice$ Toplam Satış</h4>
                                        </div>
                               
                                </div>
                            </li>
                            
                        }
                        
                    </ul>
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>

        


        @*Left Column*@
        <div class="col-md-12 col-lg-9">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <div class="nav-item dropdown">
                                    <a href="#" class="search-toggle nav-link" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Hepsi
                                        <span class="bg-primary"></span>
                                    </a>
                                    <div class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonW">
                                        <div class="m-0 border-0 shadow-none card">
                                            <div class="p-0 ">
                                                <ul class="p-0 list-group list-group-flush">

                                                    @foreach (var item in Model)
                                                    {
                                                        <li class="iq-sub-card list-group-item"><a class="p-0" href="#">@item.CompanyVM.CompanyName</a></li>

                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive mt-4">
                                <table id="basic-table" class="table table-striped mb-0" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Şirket</th>
                                            <th>Telefon Numarası</th>
                                            <th>Ürün Sayısı</th>
                                            <th>Toplam Satış</th>
                                            
                                        </tr>
                                    </thead>
                                   <tbody>
                                        @if (true)
                                        {
                                            foreach (var indexVm in Model)
                                            {
                                                <tr>
                                                    <td>

                                                        <h6>@indexVm.CompanyVM.CompanyName</h6>

                                                    </td>
                                                    <td>
                                                        @indexVm.CompanyVM.PhoneNumber
                                                    </td> 
                                                    <td>
                                                        @indexVm.CompanyVM.Products.Count()
                                                    </td>
                                                    <td>@indexVm.SaleVM.TotalPrice</td>

                                                </tr>
                                            }
                                        }
                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
        
        </div>
        @*right column*@
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                
            <div class="card" data-aos="fade-up" data-aos-delay="500">
                <div class="text-center card-header d-flex justify-content-around">
                    <h2>Toplamlar</h2>
                </div>
                <div class="text-center card-body d-flex justify-content-around">
                    <div>
                        @*burada List<IndexVM> olarak gelen vvverinin içerisnde dolaşarak toplam satış verisine erişiyoruz*@
                        @if (true)
                        {
                            double totalPrices = 0;
                            foreach (var item in Model)
                            {
                                        totalPrices += item.SaleVM.TotalPrice;
                            }
                            <h2 class="mb-2"><small>₺@totalPrices</small></h2>
                            <p class="mb-0 text-gray">Toplam Satış Ucreti</p>
                        }
                    </div>
                    <hr class="hr-vertial">
                    <div>
                        @if (true)
                        {
                            var totalProducts = 0;
                            foreach (var item in Model)
                            {
                                        totalProducts += item.CompanyVM.Products.Count();
                            }

                            <h2 class="mb-2"><small>@totalProducts</small></h2>
                            <p class="mb-0 text-gray">Toplam Urun Sayısı</p>

                            
                        }
                    </div>
                </div>
            </div>
        </div>

        @*data table*@
     



    </div>
</div>
